* {
    margin: 0;
    padding: 0;
}

body, html {
    background: #404040;
    color: #ffffff;
    font-size: 100%;
    font-family: sans-serif;
    overflow: hidden;
}

body.brightMode {
    color: #404040;
    background: #ffffff;
}

ul {
    list-style-type: none;
}

#header {
    position: absolute;
    height: 3.5em;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    white-space: nowrap;
    background-color: #ff7e22;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

#logo {
    display: inline-block;
    height: 2.5em;
    margin: 0.5em;
    vertical-align: middle;
}

#buttons {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    vertical-align: middle;
}

#buttons > div {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    text-align: left;
    vertical-align: middle;
    overflow: hidden;
    background-color: #ff7e22;
    padding: 0.5em;
    min-width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}

#measuring {
    background-image: url(data:image/png;base64,###drawablePlay###);
}

.countdown #measuring {
    background-image: url(data:image/png;base64,###drawableTimedPlay###);
}

.active #measuring {
    background-image: url(data:image/png;base64,###drawablePause###);
}

.countdown.active #measuring {
    background-image: url(data:image/png;base64,###drawableTimedPause###);
}

#clear {
    background-image: url(data:image/png;base64,###drawableClearData###);
}

#buttons > #countdown {
    cursor: default;
    min-width: 0;
}

#buttons > #countdown:empty {
    padding: 0;
    width: 0;

}

#more {
    background-image: url(data:image/png;base64,###drawableMore###);
}

#moreMenu {
    position: absolute;
    display: block;
    right: 0.2em;
    top: 0.2em;
    box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.3);
    z-index: 2000;
    background: #606060;
}

.brightMode #moreMenu {
    background: #f0f0f0;
}

#moreMenu li {
    padding: 1em;
}

#moreMenu li:hover {
    background: #808080;
}

.brightMode #moreMenu li:hover {
    background: #e0e0e0;
}

#moreMenu .moreButtons:hover {
    background: #606060;
}

.brightMode #moreMenu .moreButtons:hover {
    background: #e0e0e0;
}

.circleButton {
    display: inline-block;
    border-radius: 2em;
    border: 1px solid white;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
    margin: -0.5em 0 -0.5em 0.5em;
    font-size: 150%;
    vertical-align: middle;
    text-align: center;
}

.brightMode .circleButton {
    border: 1px solid black;
}

.circleButton:hover {
    background: #808080;
}

.brightMode .circleButton:hover {
    background: #e0e0e0;
}

#brightModeCheck {
    width: 0.8em;
    height: 0.8em;
}

.brightMode #brightModeCheck {
    background: #000000;
    box-shadow: inset 0 0 0.1em 0.2em #f0f0f0;
}

.warningIcon {
    color: #ff7e22;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-image: url(data:image/png;base64,###drawableWarning###);
    background-repeat: no-repeat;
    background-size: contain;
}

.columns1 #switchColumns1, .columns2 #switchColumns2, .columns3 #switchColumns3, .phone #switchToPhoneLayout {
    display: none;
}

#titleBar {
    display: inline-block;
    padding: 0.5em;
    vertical-align: middle;
}

#title {
    height: 1.25em;
    font-size: 200%;
    display: block;
    background: #ff7e22;
    padding: 0;
    color: white;
}

#viewSelectorBar {
    display: none;
}

.multiView #viewSelectorBar {
    display: block;
    position: absolute;
    top: 3.5em;
    left: 0;
    right: 0;
    box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.1);
    background: #606060;
    z-index: 500;
    line-height: 1;
}

.brightMode.multiView #viewSelectorBar {
    background: #f0f0f0;
}

#viewSelector li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0.5em;
    cursor: pointer;
}

#viewSelector li:hover {
    background: #808080;
}

.brightMode #viewSelector li:hover {
    background: #e0e0e0;
}

#viewSelector li.active {
    display: inline-block;
    text-transform: uppercase;
    padding: 0.5em 0.5em 0.25em 0.5em;
    border-bottom: 0.25em solid #ff7e22;
}

#views {
    position: absolute;
    top: 3.5em;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding-top: 1em;
}

.multiView #views {
    top: 8em;
}

.elementBlock {
    display: inline-block;
    width: 100%;
}

.exclusive .elementBlock > div {
    display: none;
}

.exclusive .elementBlock > .exclusive {
    display: block;
}

.columns2 .elementBlock {
    display: inline-block;
    width: 50%;
}

.columns3 .elementBlock {
    display: inline-block;
    width: 33%;
}

.phone .elementBlock {
    margin: auto;
    display: block;
    width: 57vh;
}

.exclusive .elementBlock {
    display: inline-block;
    width: 100%;
}

.valueElement, .editElement {
    display: block;
    width: 100%;
}

.label {
    display: inline-block;
    text-align: right;
    width: 49%;
    margin: 0.5%;
}

.value {
    display: inline-block;
    font-weight: bold;
    width: 49%;
    margin: 0.5%;
}

.unit {
    font-weight: bold;
    margin: 0 0.5%;
}

.editElement .value {
    width: 15%;
    margin: 0 0.5%;
}

.graphElement {
    display: block;
    width: 80%;
    margin: 0 10%;
    position: relative;
}

.phone .graphElement {
    width: 100%;
    margin: 0;
}

.graphElement .label {
    display: block;
    width: 99%;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    background-image: url(data:image/png;base64,###drawableMaximize###);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 2em;
}

.graphElement.exclusive .label {
    background-image: url(data:image/png;base64,###drawableRestore###);
}

.graphElement .graphBox {
    position: relative;
    width: 100%;
}

.graphElement .graphRatio {
    display: block;
}

.exclusive .graphElement .graphRatio {
    display: none;
}

.exclusive .graphElement .graphBox {
    height: 90%;
}

.graphElement .graph {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.infoElement {
    margin: 1% 2%;
    font-size: 75%;
}

.buttonElement {
    text-align: center;
}

.buttonElement button {
    background: #606060;
    color: #ffffff;
    padding: 0 0.5%;
    margin: 0.5% auto;
    font-size: 1em;
}

.brightMode .buttonElement button {
    color: #000000;
    background: #f0f0f0;
}

.buttonElement button:hover {
    background: #808080;
    color: #ffffff;
}

.brightMode .buttonElement button:hover {
    color: #000000;
    background: #e0e0e0;
}

#error {
    z-index: 10000;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #800000;
    color: white;
    border-top: 1px solid #ff0000;
    display: none;
    text-align: center;
    font-size: 200%;
}

#exportDialog {
    z-index: 5000;
    position: absolute;
    left: 0;
    right: 0;
    top: 15vh;
    text-align: center;
}

#exportDialog form {
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.3);
    display: inline-block;
    background: #606060;
    text-align: left;
    padding: 1%;
}

.brightMode #exportDialog form {
    background: #f0f0f0;
}

#exportDialog form .setSelector {
    display: block;
}

#exportDialog form select {
    display: block;
    margin: 3px 0;
}

#exportDialog form input {
    display: inline-block;
}
